#about-me-photo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-size: cover;
  }

  #about-me-photo::after {
    content: "";
    background-image: url('../../images/portrait.jpg');
    background-position: top;
    background-size: cover;
    overflow: auto;
    opacity: 0.95;
    height: 110vh;
    top: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

// #about {
//   display: flex;
//   flex-direction: row;
//   color: $main-font-color;
//   font-family: $main-font-family;
//   background-color: #0A3442;
// }

// #about-me-paragraph {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
//
// #portrait {
//   width: 40%;
//   height: 40%;
//   opacity: .8;
// }
