#about-me-photo {
  z-index         : 1;
  display         : flex;
  width           : 100%;
  height          : 650px;
  padding-top     : 61.5%;
  background-size : 100%;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

#about-me-photo::after {
  content             : "";
  position            : absolute;
  top                 : 98vh;
  right               : 0;
  bottom              : 0;
  left                : 0;
  width               : 100%;
  height              : 0;
  padding-top         : 61.5%;
  opacity             : 0.95;
  overflow            : auto;
  background-image    : url('../../images/about-me-image2.jpg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100%;
  transform           : scaleX(-1);
}

.about-text {
  z-index        : 1;
  display        : flex;
  position       : absolute;
  top            : 110%;
  bottom         : 0;
  left           : 0;
  width          : 30%;
  margin         : auto;
  color          : $main-font-color;
  text-align     : center;
  font-family    : $main-font-family;
  flex-direction : column;
  transition     : all 0.5s;
}

.about-title {
  width            : 400px;
  padding          : 20px;
  border-radius    : 0 10px 10px 0;
  background-color : $header-color;
  text-align       : center;
  font-size        : 2.5em;
  font-weight      : 100;
}

.about-description {
  position         : absolute;
  top: 100px;
  width            : 700px;
  margin-top       : 50px;
  padding          : 20px;
  border-radius    : 0 10px 10px 0;
  background-color : $header-color;
  text-align       : left;
  font-size        : 1.5em;
  font-weight      : 100;
}

@media (max-width: 750px) {
  #about-me-photo {
    height : 650px;
  }

  .about-description {
    position      : absolute;
    top           : 125px;
    left          : 22.5%;
    width         : 350px;
    margin-top    : 45px;
    border-radius : 10px;
  }

  .about-title {
    width      : 300px;
    margin-top : 50px;
  }
}

@media only screen
       and (min-device-width               : 320px)
       and (max-device-width               : 480px)
       and (-webkit-min-device-pixel-ratio : 2)
       and (orientation                    : portrait) {
  .about-description {
    left          : 12%;
    width         : 350px;
    margin-top    : 130px;
    border-radius : 10px;
  }

  .about-title {
    width      : 300px;
    margin-top : 125px;
  }
}
