html {
  box-sizing : border-box;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

#app {
  display          : flex;
  background-color : $main-color;
  flex-direction   : column;
}

a .nav-link {
  cursor : pointer;
}
