#contact {
  display          : flex;
  height           : 450px;
  height           : 75vh;
  padding-bottom   : 25px;
  color            : $main-font-color;
  background-color : $header-color;
  text-align       : center;
  font-family      : $main-font-family;
  flex-direction   : column;
  justify-content  : center;
}

#contact-header {
  font-weight : 100;
}

#contact-information {
  display         : flex;
  margin          : 20px;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

#contact-name {
  margin-bottom : 10px;
  font-size     : 45px;
  font-weight   : 100;
}

#contact-job-title {
  margin         : 10px;
  padding-right  : 25px;
  padding-bottom : 30px;
  padding-left   : 25px;
  border-bottom  : 1px solid white;
  text-align     : center;
  font-weight    : 100;
}

#contact-picture {
  width         : 200px;
  height        : 200px;
  margin-bottom : 20px;
  border-radius : 200px;
}

.contact {
  margin      : 10px 20px 0 20px;
  font-weight : 100;
}

.contact {
  color           : $main-font-color;
  text-decoration : none;
  transition      : all .17s linear;
  display         : inline-block;
}

.contact:hover {
  color     : #111;
  transform: scale(1.5);
}

@media (max-width: 850px) {
  #contact {
    height : 80vh;
  }
}

@media only screen
       and (min-device-width               : 320px)
       and (max-device-width               : 480px)
       and (-webkit-min-device-pixel-ratio : 2)
       and (orientation                    : landscape) {
  #contact {
    height : 135vh;
  }
}
