#contact {
  background-color: $header-color;
  height: 450px;
  color: $main-font-color;
  font-family: $main-font-family;
  display: flex;
  flex-direction: column;
  height: 60vh;
  text-align: center;
  justify-content: center;
}

#contact-header {
  font-weight: 100;
}

#contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#contact-name {
  font-size: 45px;
  font-weight: 100;
}

#contact-job-title {
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
  text-align: center;
  font-weight: 100;
}

#contact-picture {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 20px;
}

.contact{
  margin: 15px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $main-font-color;
}

@media (max-width: 850px) {
  #contact {
    height: 80vh;
  }
}
