#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7vh;
  font-size: 1.4em;
  background-color: $main-color;
  font-family: Helvetica;
  font-weight: 100;

  li {
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: $main-font-color;
    cursor: default;
  }
}

#social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    padding: 1vh;
    width: 7vh;
    height: 7vh;
    margin: 0 5px 0 5px;
  }
  img:hover {
    background-color: black;
  }
  img:active {
    background-color: white;
  }
}
