#header-container {
  z-index: 2;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  font-size: 1.4em;
  background-color: $header-color;
  font-family: Helvetica;
  font-weight: 100;
  li {
    margin: 10px;
  }
  a {
    text-decoration: none;
    color: $main-font-color;
    cursor: default;
    transition: all .17s cubic-bezier();
  }
  a:hover{
    transform: scale(1.25);
    color: black;
  }
}

#social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  background-color: $header-color;
  padding-right: 25px;
  img {
    transition: all .17s linear;
    overflow: auto;
    width: 7vh;
    height: 7vh;
    margin: 0 10px 0 10px;
  }
  img:hover {
    transform: scale(1.25);
    border-radius: 300px;
    background-color: white;
  }
  img:active {
    background-color: $header-color;
  }
}
