#hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

#hero::after {
  content: "";
  background-image: url('../../images/Flatirons4.jpg');
  background-position: center;
  background-size: cover;
  overflow: auto;
  opacity: 0.3;
  height: 90vh;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#name {
  color: $main-font-color;
  font-family: $main-font-family;
  font-weight: lighter;
  font-size: 4em;
  margin: 5px;
  z-index: 1;
}

#title {
  color: $main-font-color;
  font-family: $main-font-family;
  font-weight: lighter;
  margin: 5px;
  font-size: 1.5em;
  z-index: 1;
}

.work-link {
  position: relative;
  display: block;
  top: 26vh;
  color: $main-font-color;
  text-align: center;
}

.Arrow {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 45px;
    opacity: .3;
    transition: all .2s linear;
    z-index: 1;
    align-text: center;
    margin: auto;
}

.Arrow:hover {
  opacity: .7;
  transform: scale(1.25);
}

.Arrow:active {
  opacity: 1;
}

.Arrow:before {
    position: absolute;
    display: block;
    margin: auto;
    content: "";
    border: 10px solid transparent;
    top: 22px;
    left: 15px;
    border-top-color: black;
}

#arrow-link:before {
    position: absolute;
    display: block;
    content: "";
    top: 22px;
    left: 15px;
}

#arrow-link {
  position: relative;
  display: block;
  top: 28vh;
}

#portfolio-link {
  color: $main-color;
  font-family: $main-font-family;
}
