.project {
  display            : block;
  position           : relative;
  width              : 100%;
  height             : 400px;
  margin             : 0;
  padding            : 0;
  color              : $main-font-color;
  -moz-transition    : all 0.5s;
  -o-transition      : all 0.5s;
  -webkit-transition : all 0.5s;
  transition         : all 0.5s;
  cursor             : pointer;
  -webkit-backface-visibility: hidden;
}

.project:hover {
  background-size : 110% 110%;

  #iMac,
  #macbook,
  #phones,
  .github-button {
    transform : scale(1.1);
  }

  .project-text {
    text-shadow : 1px 1px 2px black;
  }

  .github-button {
    opacity : 1;
  }
}

#macbook {
  position   : absolute;
  top        : 70px;
  left       : 3%;
  width      : 420px;
  height     : 247px;
  transition : all 0.5s;
}

#phones {
  position   : absolute;
  top        : 10%;
  left       : 5%;
  width      : 352px;
  height     : 302px;
  transition : all 0.5s;
}

#iMac {
  position   : absolute;
  top        : 60px;
  left       : 5%;
  width      : 355px;
  height     : 294px;
  transition : all 0.5s;
}

.MemoryPalace {
  background-image    : url('../../images/memory-small3.jpg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100% 100%;
}

.SickBeats {
  background-image    : url('../../images/sick-beats-small3.jpg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100% 100%;
}

.NativeReminders {
  background-image    : url('../../images/reminders-small3.jpg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100% 100%;
}

.project a {
  z-index  : 2;
  position : absolute;
  width    : 100%;
  height   : 100%;
}

.project::after {
  content    : "";
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  opacity    : .2;
  background : $header-color;
  transition : opacity .5s ease;
}

.project:hover::after {
  opacity : 0;
}

.project-text {
  z-index        : 1;
  display        : flex;
  position       : absolute;
  top            : 15%;
  right          : 0;
  bottom         : 0;
  margin         : auto;
  padding        : 0 10%;
  color          : $main-font-color;
  text-align     : center;
  align-items    : flex-end;
  font-family    : $main-font-family;
  flex-direction : column;
  -moz-transition    : all 0.5s;
  -o-transition      : all 0.5s;
  -webkit-transition : all 0.5s;
  transition         : all 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
}

.project-image {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  transition : all .5s linear;
}

.project-title {
  width      : 330px;
  text-align : right;
  font-size  : 2.5em;
  font-weight: 100;
}

.project-description {
  width      : 50%;
  padding    : 10px;
  text-align : center;
}

.github-button {
  margin-top       : 50px;
  padding          : 10px;
  opacity          : 0;
  border           : 2px solid $main-font-color;
  border-radius    : 20px;
  background-color : $header-color;
  text-shadow      : none;
  font-weight      : 100;
  transition       : all .5s linear;
}

#work-title {
  height      : 100px;
  color       : $main-font-color;
  text-align  : center;
  font-family : $main-font-family;
}

@media (max-width: 750px) {
  .project-description {
    width      : 100%;
    text-align : left;
  }

  .project {
    background-size     : cover;
    background-position: right;
  }

  .project:hover {
    background-size     : cover;
    background-position: right;
  }

  .project-title {
    text-align : center;
  }

  .device {
    display : none;
  }
}
