.project {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  cursor: pointer;
  transition: all 0.5s ;
  -webkit-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  color: $main-font-color;
}

.project:hover {
  background-size: 110% 110%;
  #macbook, #phones, #iMac {
    transform: scale(1.1);
  }
  .project-text {
    text-shadow: 1px 1px 2px black;
  }
}

#macbook {
  transition: all 0.5s ;
  height: 247px;
  width: 420px;
  top: 70px;
  left: 3%;
  position: absolute;
}

#phones {
  transition: all 0.5s ;
  height: 302px;
  width: 352px;
  top: 10%;
  left: 5%;
  position: absolute;
}

#iMac {
  transition: all 0.5s ;
  height: 294px;
  width: 355px;
  top: 60px;
  left: 5%;
  position: absolute;
}

.MemoryPalace {
  background-image: url('../../images/memory-small.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.SickBeats {
  background-image: url('../../images/sick-beats-small.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.NativeReminders {
  background-image: url('../../images/reminders-small.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.project a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2
}

.project::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $header-color;
    opacity: .2;
    transition: opacity .5s ease;
}

.project:hover::after {
  opacity: 0;
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 10%;
    text-align: center;
    z-index: 1;
    font-family: $main-font-family;
    color: $main-font-color;
    transition: all 0.5s ;
}

.project-image {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .5s linear;
}

.project-title {
  font-size: 2.5em;
  width: 330px;
  text-align: right;
}

.project-description {
  text-align: center;
  width: 50%;
  padding: 10px;
}

.github-button {
  position: absolute;
  top: 50px;
}

#work-title {
  color: $main-font-color;
  font-family: $main-font-family;
  text-align: center;
  height: 100px;
}

@media (max-width: 775px) {
  .project-description {
    width: 100%;
    text-align: left;
  }
  .project-title {
    text-align: center;
  }
  .device {
    display: none;
  }
}
