.project {
  height: 350px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s linear;
  color: white;
}

.project:hover {
  transform: scale(1.1);
}

.MemoryPalace {
  background-image: url('../../images/memory.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.SickBeats {
  background-image: url('../../images/sickBeats.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.NativeReminders {
  background-image: url('../../images/reminders.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2
}

.project::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $header-color;
    opacity: .2;
    transition: opacity .5s ease
}

.project:hover::after {
  opacity: 0;
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 10%;
    text-align: right;
    z-index: 1;
    font-family: $main-font-family;
}

.project-image {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .5s linear;
}

.project-title {
  font-size: 2.5em;
}

.project-description {
  text-align: center;
  width: 50%;
  padding: 10px;
}
