/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

#app {
  display: flex;
  flex-direction: column;
  background-color: #0A3442;
  height: 4000px; }

#header-container {
  z-index: 2; }

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  font-size: 1.4em;
  background-color: #335a74;
  font-family: Helvetica;
  font-weight: 100; }
  #header-nav li {
    margin: 10px; }
  #header-nav a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: default;
    transition: all 0.17s cubic-bezier(); }
  #header-nav a:hover {
    transform: scale(1.25);
    color: black; }

#social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  background-color: #335a74;
  padding-right: 25px; }
  #social-media img {
    transition: all .17s linear;
    overflow: auto;
    width: 7vh;
    height: 7vh;
    margin: 0 10px 0 10px; }
  #social-media img:hover {
    transform: scale(1.25);
    border-radius: 300px;
    background-color: white; }
  #social-media img:active {
    background-color: #335a74; }

#hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center; }

#hero::after {
  content: "";
  background-image: url("../../images/Flatirons2.jpg");
  background-position: center;
  background-size: cover;
  overflow: auto;
  opacity: 0.3;
  height: 90vh;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

#name {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 4em;
  margin: 5px;
  z-index: 1; }

#title {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: lighter;
  margin: 5px;
  font-size: 1.5em;
  z-index: 1; }

.work-link {
  position: relative;
  display: block;
  top: 26vh;
  color: #FFFFFF;
  text-align: center; }

.Arrow {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 45px;
  opacity: .3;
  transition: all .2s linear;
  z-index: 1;
  align-text: center;
  margin: auto; }

.Arrow:hover {
  opacity: .7;
  transform: scale(1.25); }

.Arrow:active {
  opacity: 1; }

.Arrow:before {
  position: absolute;
  display: block;
  margin: auto;
  content: "";
  border: 10px solid transparent;
  top: 22px;
  left: 15px;
  border-top-color: black; }

#arrow-link:before {
  position: absolute;
  display: block;
  content: "";
  top: 22px;
  left: 15px; }

#arrow-link {
  position: relative;
  display: block;
  top: 28vh; }

#portfolio-link {
  color: #0A3442;
  font-family: "Open Sans"; }

.project {
  height: 350px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s linear;
  color: white; }

.project:hover {
  transform: scale(1.1); }

.MemoryPalace {
  background-image: url("../../images/memory.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.SickBeats {
  background-image: url("../../images/sickBeats.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.NativeReminders {
  background-image: url("../../images/reminders.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.project a {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2; }

.project::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #335a74;
  opacity: .2;
  transition: opacity 0.5s ease; }

.project:hover::after {
  opacity: 0; }

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 10%;
  text-align: right;
  z-index: 1;
  font-family: "Open Sans"; }

.project-image {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all .5s linear; }

.project-title {
  font-size: 2.5em; }

.project-description {
  text-align: center;
  width: 50%;
  padding: 10px; }

/*# sourceMappingURL=index.css.map */
